 <div class="w-full">
  <div class="mx-auto">


    <h1 class="text-3xl font-bold mb-12"><%= @workout.name %></h1>

    <%= render 'workout_exercises/form', workout: @workout %>

    <h2 class="text-3xl font-bold mt-0 mb-g">Exercises</h2>
      <%= render @workout.workout_exercises %>

    <%= link_to 'Back to workouts', workouts_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div> 

