  <p class="my-5">
    <strong class="block font-medium mb-1">Exercise:</strong>
    <%= workout_exercise.exercise.name %>
  </p>

  <%= button_to 'Delete', workout_exercise_path(workout_exercise), method: :delete %>

